<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <title>Property Page</title>
  </head>
  <body>
    <nav
      class="w-full h-[72px] bg-[#145da0] flex justify-between px-4 items-center md:px-5 shadow-sm shadow-gray-500 sticky top-0 z-10 "
    >
      <!-- House rental text -->
      <div class="text-2xl text-white font-bold">
        <i class="fa-solid fa-house-chimney"></i>ouse Rentals
      </div>

      <!-- Search Bar -->
      <div class="flex items-center justify-center p-5 w-1/2">
        <div class="flex w-full my-2-2 h-12">
          <div
            class="flex items-center justify-center rounded-tl-lg rounded-bl-lg border-r border-gray-200 bg-white p-5"
          >
            <svg
              viewBox="0 0 20 20"
              aria-hidden="true"
              class="pointer-events-none absolute w-5 fill-gray-500 transition"
            >
              <path
                d="M16.72 17.78a.75.75 0 1 0 1.06-1.06l-1.06 1.06ZM9 14.5A5.5 5.5 0 0 1 3.5 9H2a7 7 0 0 0 7 7v-1.5ZM3.5 9A5.5 5.5 0 0 1 9 3.5V2a7 7 0 0 0-7 7h1.5ZM9 3.5A5.5 5.5 0 0 1 14.5 9H16a7 7 0 0 0-7-7v1.5Zm3.89 10.45 3.83 3.83 1.06-1.06-3.83-3.83-1.06 1.06ZM14.5 9a5.48 5.48 0 0 1-1.61 3.89l1.06 1.06A6.98 6.98 0 0 0 16 9h-1.5Zm-1.61 3.89A5.48 5.48 0 0 1 9 14.5V16a6.98 6.98 0 0 0 4.95-2.05l-1.06-1.06Z"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            class="w-full bg-white pl-2 text-base font-semibold outline-0"
            placeholder="Enter Locality / Society / Landmark"
            id=""
          />
          <input
            type="button"
            value="Search"
            class="bg-[#0C2D48] p-2 rounded-tr-lg rounded-br-lg text-white font-semibold hover:bg-[#0C2D48] transition-colors"
          />
        </div>
      </div>

      <!-- property+user+dropdown menu -->
      <div class="flex">
        <!-- Property button -->
        <div class="bg-white text-black px-3 py-2 rounded-lg cursor-pointer my-1 mx-[10px]">Post Property <span
          class="bg-green-700 text-white  ml-5 my-1 px-3 py-1 rounded-lg text-[12px]">FREE</span>
  </div>
  <!-- contact us -->
  <div class="mx-[10px] py-3   text-white font-bold cursor-pointer">Contact Us</div>
  <!-- profile part D will be replaced by user's first name or user's profile picture -->
  <div class="bg-green-300  h-[36px] w-[34px]  mt-2 rounded-full px-3 py-3 cursor-pointer mx-[10px] text-green-800 text-[12px]">D
  </div>
  <!-- hamburger icon -->
  <div><i class="fa-solid fa-bars mt-3   text-white font-bold cursor-pointer mx-[10px] text-xl"></i></div>
</div>

       

        <!-- Dropdown menu for future need to use javascript -->
        <div
          id="dropdownAvatarName"
          class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600"
        >
          <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
            <div class="font-medium">User</div>
            <div class="truncate">name@email.com</div>
          </div>
          <ul
            class="py-2 text-sm text-gray-700 dark:text-gray-200"
            aria-labelledby="dropdownInformdropdownAvatarNameButtonationButton"
          >
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Dashboard</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Settings</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                >Something</a
              >
            </li>
          </ul>
          <div class="py-2">
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
              >Sign out</a
            >
          </div>
        </div>
      </div>
    </nav>
    <!-- NAVBAR ends here  -->
  

     <!-- Left Sidebar Border -->
    <div class="flex h-full">
      <!-- Left Sidebar -->

      <div class="w-[360px]  bg-gray-100 text-white flex flex-col">
        <div class="p-4 text-xl font-bold text-gray-900 h-full bg-white m-4 ">
       <div class="mb-4 flex justify-center text-2xl">Filters</div>

         
      
          <!-- Verified Properties toogle button -->
          <div class="mt-10 mb-5">
            <div class="flex items-center justify-between font-medium text-lg">Verified Properties
              <label for="toogleTwo" class="flex items-center cursor-pointer select-none text-dark dark:text-white">
                <div class="relative">
                    <input   id="toogleTwo"  type="checkbox"  class="peer sr-only" />
                     <div class="h-3 rounded-full shadow-inner bg-gray-300 dark:bg-dark-2 w-10" ></div>
                     <div  class="absolute left-0 transition bg-[#145da0] rounded-full dot shadow-switch-1 dark:bg-dark-4 -top-1 h-5 w-5 peer-checked:translate-x-full peer-checked:bg-primary" ></div>
                    </div>
                  </label>
            </div>
          </div>
      
          <hr />

          <!-- Budget -->
          <div class="my-4">
            <div class="flex items-center justify-between">
              <label class="font-medium text-lg text-gray-900">Budget</label>
              <button class="text-gray-900 text-base "><i class="fa-solid fa-angle-down "></i></button>
            </div>
            <!-- Slider -->
            <div class="mt-4">
              <div class="flex items-center justify-between text-gray-600 text-xs font-normal">
                <span>0</span>
                <span>100+ Crores</span>
              </div>
              <input id="small-range" type="range"  class="w-full h-1 mb-6 bg-[#145da0] rounded-lg appearance-none cursor-pointer range-sm">

            </div>
            <!-- Budget Dropdowns -->
            <div class="mt-4 flex justify-between space-x-4">
              <select class="w-full border border-gray-300 rounded-md p-2 text-xs font-medium text-gray-600 focus:ring-blue-400 focus:border-blue-400">
                <option>Min Budget</option>
                <option>10 Lakh</option>
                <option>20 Lakh</option>
              </select>
              <select class="w-full border border-gray-300 rounded-md p-2 text-xs font-medium text-gray-600 focus:ring-blue-400 focus:border-blue-400">
                <option>Max Budget</option>
                <option>50 Lakh</option>
                <option>1 Crore</option>
              </select>
            </div>
          </div>
      
          <!-- Type of Property -->
          <div class="my-10">
            <div class="flex items-center justify-between">
              <label class="font-medium text-lg text-gray-900">Type of property</label>
              <button class="text-gray-900 text-base"><i class="fa-solid fa-angle-down"></i></button>
            </div>
            <!-- Property Type -->
            <div class="mt-4">
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm ">
                + Residential Apartment
              </button>
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm">
                + Studio Apartment
              </button>
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm">
                + Row House
              </button>
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm">
                + Independent House/ Bunglow
              </button>
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm">
                + Farmhouse
              </button>          
            </div>
          </div>

          <!-- Area -->
          <div class="my-10">
            <div class="flex items-center justify-between">
              <label class="font-medium text-lg text-gray-900">Budget</label>
              <button class="text-gray-900 text-base"><i class="fa-solid fa-angle-down"></i></button>
            </div>
            <!--  Area Slider -->
            <div class="mt-4">
              <div class="flex items-center justify-between font-normal text-gray-600 text-xs">
                <span>100 sq ft</span>
                <span>4000 sq ft</span>
              </div>
              <input id="small-range" type="range"  class="w-full h-1 mb-6 bg-[#145da0] rounded-lg appearance-none cursor-pointer range-sm">

            </div>
            <!-- Budget Dropdowns -->
            <div class="mt-4 flex justify-between space-x-4">
              <select class="w-full border border-gray-300 rounded-md p-2 text-xs font-medium text-gray-600 focus:ring-blue-400 focus:border-blue-400">
                <option>Min Area</option>
                <option>100  sq ft</option>
                <option>200 sq ft</option>
              </select>
              <select class="w-full border border-gray-300 rounded-md p-2 text-xs font-medium text-gray-600 focus:ring-blue-400 focus:border-blue-400">
                <option>Max Area</option>
                <option>3800 sq ft</option>
                <option>4000 sq ft</option>
              </select>
            </div>
          </div>

          <!-- No of Bedrooms -->
          <div class="my-10">
            <div class="flex items-center justify-between">
              <label class="font-medium text-lg text-gray-900">No Of Bedrooms</label>
              <button class="text-gray-900 text-base"><i class="fa-solid fa-angle-down"></i></button>
            </div>
            <!-- Bedrooms -->
            <div class="mt-4  flex  flex-wrap">
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
                + 1RK
              </button>
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
                + 1 BHK
              </button>
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
                + 2 BHK
              </button>
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
                + 3 BHK
              </button>
              <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
                + 4 BHK
              </button>          
            </div>
          </div>

        <!-- Available For -->
        <div class="my-10">
          <div class="flex items-center justify-between">
            <label class="font-medium text-lg text-gray-900">Available For</label>
            <button class="text-gray-900 text-base"><i class="fa-solid fa-angle-down"></i></button>
          </div>
          <!-- Availability -->
          <div class="mt-4  flex  flex-wrap">
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Family
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Single Men
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Single Women
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Sharing
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Tenants with company Lease
            </button>                 
          </div>
        </div>  

        <!-- Furnishing Status -->
        
        <div class="my-10">
          <div class="flex items-center justify-between">
            <label class="font-medium text-lg text-gray-900">Furnishing Status</label>
            <button class="text-gray-900 text-base"><i class="fa-solid fa-angle-down"></i></button>
          </div>
          <!-- Status -->
          <div class="mt-4  flex  flex-wrap">
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Furnished
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Semi Furnished
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Unfurnished
            </button>
                           
          </div>
        </div> 

          <!-- Posted By -->
        <div class="my-10">
          <div class="flex items-center  justify-between">
            <label class="font-medium text-lg text-gray-900">Posted By</label>
            <button class="text-gray-900 text-base"><i class="fa-solid fa-angle-down"></i></button>
          </div>
          <!-- By -->
          <div class="mt-4  flex  flex-wrap">
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Owner
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Dealer
            </button>

          </div>
        </div> 

               <!-- Amenites -->
        <div class="my-10">
          <div class="flex items-center justify-between">
            <label class="font-medium text-lg text-gray-900">Amenities</label>
            <button class="text-gray-900 text-base"><i class="fa-solid fa-angle-down"></i></button>
          </div>
          <!--Types  -->
          <div class="mt-4  flex  flex-wrap">
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Parking
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Lift
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Gymansium
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Swimming Pool
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + Pet Friendly
            </button>        
          </div>
        </div> 

        <!-- Age Of property -->
        <div class="my-10">
          <div class="flex items-center justify-between">
            <label class="font-medium text-lg text-gray-900">Age Of Property</label>
            <button class="text-gray-900 text-base"><i class="fa-solid fa-angle-down"></i></button>
          </div>
          <!--  Years -->
          <div class="mt-4  flex  flex-wrap">
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + 0 - 5 Years
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + 6 - 10 Years
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + 10+ Years
            </button>
            <button class="flex items-center text-gray-600 font-normal border border-gray-200 bg-white py-1  px-2 my-1 rounded-2xl text-sm mx-1">
              + 20 + years
            </button>      
          </div>
        </div> 
                           
         
        




        </div>
      </div>

      

      <!-- Main Content -->
      <main class="flex-1 p-6">
        <h1 class="text-2xl font-bold text-gray-800">Main Content Area</h1>
        <p class="mt-4 text-gray-600"></p>
      </main>

      
    </div>

    <!-- Footer -->
    <footer class="bg-slate-900 text-white p-4 bottom-0">
      <div class="container mx-auto text-center text-sm">
        &copy; 2025 Your Website Name. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>
